:root {
  --main-outlet-height: calc(100vh - 91px);
  --height-minus-footer: calc(100vh - 40px);
  --primary-color: #007bff;
  --secondary-color: #6c5ce7;
  --accent-color: #bde75c;
  --padding: 10px 15px;
}
